$colors: (
  --white: rgb(230, 230, 230),
  --black: rgb(10, 10, 10),
  --blue: rgb(15, 95, 155),
  --darkblue: rgb(50, 50, 120),
  --red: rgb(220, 40, 40),
  --darkred: rgb(210, 20, 20),
  --yellow: rgb(230, 220, 115),
  --darkyellow: rgb(230, 190, 60),
);

$wall-color: rgb(153, 150, 145);

$canvas-height: 90vh;
$canvas-width: 700px;
